<!DOCTYPE html>
<html>
<head>
	<title>Cipher game</title>
</head>
<body>
	<h1>Cipher game</h1>
	<form>
		<input type="text" name="code"><span>Code</span>
		<input type="text" name="shiftnumber"><span>Shift number</span>
		<input type="submit">
	</form>
	<h2>After shift</h2>
	<p style="text-shadow: 2px 2px #ff0000"><%= text if text%></p>
</body>
</html>