<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
</head>
<body>
<h1>Menu</h1>
<form method="get" action='/cipher'>
	<input type="submit" value="cipher">
</form>
<form method="get" action='/reset'>
	<input type="submit" value="mastermind">
</form>
</body>
</html>